.grid {
  position: relative;
}
.grid .img {
  width: 70%;
  overflow: hidden;
  border-bottom: 3px solid #eee;
}
.section{
  display: flex;
}
.list{
  width: 400px;
}

.img{
  width: 100%;
  height: 100%;
  padding: 20px;
  background-color: #fff;
}
.details{
   text-align: center;
}
.details p{
   font-weight: bold;
   font-size: x-large;
   color: orange;
}
.btn{
  width: 100%;
  margin-top: 10px;
  background-color: orange;
  font-weight:bold ;
  color: #fff;
}

